body {
    margin: 0;
    background-color: #F7F7D6; 
    height: 100vh
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box {
    width: 150px;
    height: 150px;
    color: black;

}

#box1 {
    background-color: green;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: red;
}