
html {
    font-size: 16px;
}

body {
    display: flex;
    gap: 20px;
    margin: 20px;
}

/* Fixed width container */
.container.fixed-width {
    width: 300px; 
    padding: 10px;
    border: solid blue;
}

/* Paragraph with em*/
.em-text {
    font-size: 1.5em; 
}

/* Paragraph with rem*/
.rem-text {
    font-size: 1.5rem; 
}

/* Container for view width font size */
.container.viewport {
    width: 100%;
    border: solid blue;
}

.container.viewport h1 {
    font-size: 6vw; 
}
