body {
    font-family: "Audiowide", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/CSS/My_First_Webpage_Refactored/Images/painted-grey-background-with-metal-texture.jpg');
    background-size: cover; 
    font-size: 20px;
    color:rgb(255, 255, 255)
    
}

.container {
    text-align: center;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.social-links li {
    display: inline;
    margin: 5px;
}

.social-links a {
    color: black;
    font-size: 30px;
}

.social-links a:hover {
    color: blue;
}

.contact-btn {
    padding: 10px 20px;
    background-color:black;
    color: white;   
}

.contact-btn:hover {
    background-color: grey;
}

#cards {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.card {
    
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 1px 4px 8px black;
    width: 350px;
    
}

.card2 {
    
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 1px 4px 8px black;
    width: 350px;
    
}