/* Star rating styles */
.star-rating {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    display: inline-flex;
    direction: rtl; /* Make the stars from righ to left*/
}

.star-rating .star:hover,
.star-rating .star:hover ~ .star {
    color: #f5b301; /* Change star when we hover or them */
}

.star-rating .selected,
.star-rating .selected ~ .star {
    color: #f5b301; /* Change star color when selected */
}