* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: #384250;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightgrey;
    border: 1px solid black; 
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-links li {
        margin: 10px;
    }

    .logo {
        margin-bottom: 20px;
    }
}
